@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Urbanist&display=swap");

:root {
  --primary: rgba(48, 35, 37, 1);
  --secondary: rgba(140, 93, 79, 1);
  --tertiary: rgb(236, 215, 197);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: unset;
}

body {
  background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
  color: var(--tertiary);
  min-width: 100%;
  min-height: 100dvh;
  font-family: "Urbanist", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 1rem 4rem;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--tertiary);
}

nav div:first-child img {
  height: 3rem;
}

nav div:last-child {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

main h1 {
  color: white;
  padding-bottom: 1.5rem;
  font-family: "Righteous", sans-serif;
}

main p {
  padding-bottom: 2rem;
  font-weight: bold;
}

main a {
  padding: 0.5rem 2rem;
  border-radius: 0.75rem;
  background-color: var(--tertiary);
  color: var(--primary);
  font-weight: bolder;
}

main img {
  height: 20rem;
}

footer {
  text-align: center;
}

footer h3 {
  font-family: "Righteous", sans-serif;
  color: white;
  margin-bottom: 2rem;
}

hr {
  width: 15%;
  height: 1px;
  margin: 3rem auto;
  border-color: var(--tertiary);
}

.bold {
  font-weight: bolder;
}

footer ol li {
  margin-bottom: 1.5rem;
}

footer img {
  height: 2.5rem;
  margin: 1rem 0;
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  nav {
    gap: 2rem;
  }

  nav div:last-child {
    gap: 1rem;
  }

  main {
    flex-direction: column-reverse;
  }
}
